body{
    margin: 0px;
    background-color: rgba(247, 247, 247, 1);
    background-image: none;
    position: static;
    left: auto;
    width: 1381px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}